/* ===== Max-Width Only Breakpoints ===== */

/* Large Desktops down to 1200px */
@media (max-width: 1200px) {
        /*DESKTOP NAVIGATION*/

    #hamburger-nav {
    display: none;
}

/*HEADER - DESKTOP NAV SECTION*/

#desktop-nav {
    padding: 1rem;
    gap: 1rem;
}

.logo-container img {
    height: 78px;
    padding-right: 1rem;
}

.desktop-nav-links {
    gap: 3rem;
}

/*HERO SECTION*/

.portfolio-hero {
    width: 85%;
}

.portfolio-hero h2 {
    font-size: 4rem;
}

  #hero-portfolio-section {
    height: fit-content;
    padding: 3rem;
}



/*FOOTER SECTION*/

    #footer-logo-container {
   
        flex-wrap: wrap;
    }

    #copy-container {
        text-align: center;
        width: 100%;
    }

}

/* Desktops & Tablets down to 992px */
@media (max-width: 992px) {
        
     /*HAMBURGER NAVIGATION*/

    #desktop-nav {
        display: none;
    }

    #hamburger-nav {
    display: flex;
}

    /*HERO SECTION*/

    #hero-portfolio-section {
        padding: 2rem;
    }

    #hero-portfolio-section h2 {
        font-size: 5rem;
}

    /*FOOTER SECTION*/

    #footer-logo-container,
    .footer-anterior-nav {
        flex-wrap: wrap;
    }

    .footer-anterior-nav {
        padding: 1rem;
        column-gap: 2rem;
    }

    #copy-container {
        text-align: center;
        width: 100%;
    }



}

/* Tablets down to 768px */
@media (max-width: 768px) {
      /*HAMBURGER NAVIGATION*/

     .hamburger-container,
     #hamburger-nav {
        height: fit-content;
     }

     .hamburger-menu {
        padding: 1rem;
     }

     /*HERO SECTION*/

     #hero-portfolio-section {
        padding: 1rem;
     }

     .portfolio-hero {
        width: 90%;
     }

     .portfolio-hero h2 {
        font-size: 3.3rem;
     }

     .portfolio-hero h4 {
        font-size: 1.8rem;
     }

           /*FOOTER SECTION*/

    #footer-logo-container,
    .footer-anterior-nav {
        justify-content: flex-start;
    }

    .footer-anterior-nav {
        column-gap: 3rem;
        row-gap: 1rem;
    }

    #copy-container {
        text-align: center;
        width: 100%;
    }

    #footer-logo-container {
        padding: 1rem;
        justify-content: space-between;
    }

    .socmed-box {
        gap: 1rem 0.5rem;
    }

}

/* Large Phones down to 576px */
@media (max-width: 576px) {
       
    /*HERO SECTION*/

         #hero-portfolio-section {
        padding: 1rem 0;
     }

     #hero-portfolio-section h2 {
        font-size: 4rem;
     }



         /*FOOTER SECTION*/

    .socmed-box {
        gap: 0.5rem;
    }

}

/* Small Phones down to 480px */
@media (max-width: 480px) {

    /*NAVIGATION*/

    .hamburger-logo img {
        height: 3rem;
    }
    
    /*HERO SECTION*/

    #hero-portfolio-section h2 {
        font-size: 3.1rem;
     }

     #hero-portfolio-section h4 {
        font-size: 1.3rem;
     }

             /*FOOTER SECTION*/

    #footer-logo-container {
        justify-content: center;
    }

    .socmed-box {
        padding: 1rem;
    }

    .socmed-box img {
        height: 1.8rem;
    }

}

/* Extra Small Phones down to 360px */
@media (max-width: 360px) {

    /*HERO SECTION*/

    #hero-portfolio-section h2 {
        font-size: 2.1rem;
    }
}


